@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-zinc-300 antialiased;
    background-color: #050505 !important;
  }
}

:root {
  color-scheme: dark;
}
